# Build artifacts
Seafari-*.AppImage
seafari_*.deb
seafari_*.rpm
seafari_*.pkg.tar.zst
appimagetool
build_workspace/
tmp_ja*/

# Seafari temporary files
*.ja.bak

# OS files
.DS_Store
build_cache_amd64/

# Cloned repositories
apt/
